ELearning.API/bin/**
ELearning.API/obj/**
ELearning.Core/bin/**
ELearning.Core/obj/**
ELearning.Infrastructure/bin/**
ELearning.Infrastructure/obj/**
ELearning.Services/bin/**
ELearning.Services/obj/**
ELearning.Tests/bin/**
ELearning.Tests/obj/**
ELearning.API/appsettings.json
ELearning.API/appsettings.Development.json
.idea/.idea.ELearningSystem/.idea/encodings.xml
.idea/.idea.ELearningSystem/.idea/indexLayout.xml
.idea/.idea.ELearningSystem/.idea/vcs.xml
.idea/.idea.ELearningSystem/.idea/.name
.idea/**
.idea/